*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 100px;
    height: 350px;
    background-color: blue;
}

.container{
    width: 100%;
    height: 50px;
    background-color: yellow;
}

.list{
    width: 100%;
    height: calc(100% - 50px);
    background-color: green;
}