.list{
    width: 100%;
}

.tooltip{
    display: inline-block;
    margin: 50px;
    background-color: #3fb88f;
    padding: 5px 15px;
    color: #ccc;
    font-size: 24px;
    position: relative;
}

.tooltip::after, .tooltip::before{
    left: 50%;
    position: absolute;
    display: none;
}

.tooltip::before{
    width: 0;
    height: 0;
    border-bottom: 15px solid #B3EFB2;
    opacity: 0.6;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    content: " ";
    top: 100%;
    transform: translate(-50%);
}

.tooltip::after{
    background-color: #B3EFB2;
    opacity: 0.9;
    color: #fff;
    padding: 10px;
    content: attr(data-desc);
    width: 500px;
    top: calc(100% + 15px);
    transform: translate(-5%);

}

.tooltip:hover{
    cursor: pointer;
}

.tooltip:hover:after, .tooltip:hover::before{
    display: inline-block;
}